<!doctype html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Welcome Message" />
    <meta name="description" content="" />
    <title>Email already verified</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: Roboto, Arial, sans-serif;
        background-color: #323e4f;
      }

      .main-container {
        width: 100%;
        max-width: 1200px;
        min-width: 360px;
        margin: auto;
        padding: 0 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .main-title {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
      }

      .email-already-verified {
        width: 100%;
        max-width: 768px;
        margin-top: 1.4rem;
      }

      .email-already-verified__message {
        font-size: 1.2rem;
        font-weight: 100;
        color: white;
        text-align: justify;
      }

      @media (min-width: 576px) {
        .main-container {
          padding: 0 1.3rem;
        }

        .main-title {
          margin-top: 2rem;
          font-size: 1.8rem;
        }

        .email-already-verified {
          margin-top: 2.5rem;
        }

        .email-already-verified__message {
          font-size: 1.4rem;
        }
      }

      @media (min-width: 768px) {
        .main-container {
          padding: 0 1.8rem;
        }

        .main-title {
          margin-top: 2.5rem;
          font-size: 2.2rem;
        }

        .email-already-verified {
          margin-top: 3.2rem;
        }

        .email-already-verified__message {
          font-size: 1.5rem;
        }
      }

      @media (min-width: 992px) {
        .main-container {
          padding: 0 2rem;
        }

        .main-title {
          margin-top: 3rem;
          font-size: 2.5rem;
        }

        .email-already-verified {
          margin-top: 3.5rem;
        }

        .email-already-verified__message {
          font-size: 1.6rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <h1 class="main-title">Email already verified</h1>
      <section class="email-already-verified">
        <p class="email-already-verified__message">
          The email address has already been verified. You can now log in to
          your account. If you've forgotten your password, you can reset it
          through the "Forgot Password" option.
        </p>
      </section>
    </div>
  </body>
</html>
